server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ web_applications['ombi']['url'] }};
    {% include "nginx/params.j2" %}

    location / {
        {% include "nginx/cors.j2" %}
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_port 3579;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }

    location ~ (/ombi)?/api {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_port 3579;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }

    # This allows access to the documentation for the api
    location ~ (/ombi)?/swagger {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_port 3579;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

   }

   if ($http_referer ~* /ombi) {
       rewrite ^/swagger/(.*) /ombi/swagger/$1? redirect;
   }
}
