* {
text-transform: unset !important;
}
.AppCard_AppCard__1V2_0 {
padding: 20px !important;
}
.AppCard_AppCardDetails__tbAhY span {
display: none
}

@media (min-width: 1201px) {
    .Layout_Container__2Hv3J {
        padding: 50px 20px !important;
    }
}

body {
    zoom: 120%;
}

.Home_SettingsButton__Qvn8C {
opacity: 0 !important;
}
.Home_SettingsButton__Qvn8C:hover {
opacity: 10 !important
}
